.header{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25vh;
    background-image: url(../assets/imgs/guitarras_header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    align-items: end;
    padding: 20px;
}

nav{
    background-color: #f0f8ff;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #701a1a;
    font-size: 1rem;
    margin: 0 10px;
}