.home{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.Section1{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50vh;
    background-color: #851414;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.Section2{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.Section3{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50vh;
    background-color: #851414;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.Section4{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 35vh;
    gap: 10px;
    text-align: start;
    color: black;
  }
  
  textarea{
    width: 60%;
    height: 30vh;
  }
  
  .bloco_redes{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  img{
    width: 100%;
    height: 12vh;
  }
  
  span{
    color: red;
  }

  input{
    padding: 8px;
  }

  form button{
    padding: 10px;
  }