*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/imgs/guitarras_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}